.card-conteiner {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    margin-right: 1rem;
    width: 600px;
    transition: .4s;
}

.card-conteiner:hover {
    filter: brightness(70%);
    transform: scale(99%);
    transition: .4s;
}

a {
    text-decoration: none;
}

.card-conteiner img {
    min-width: 200px;
    max-width: 200px;
    width: 200px;
    min-height: 120px;
    max-height: 120px;
    height: 120px;
    margin-right: 1rem;
    object-fit: cover;
}


.card-conteiner .info-container {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
}

.card-conteiner .info-container h2 {
    font-size: 1rem;
    font-weight: 800;
}

.card-conteiner .info-container h6 {
    background-color: #bf0603;
    color: #fff;
    padding: .5rem;

    border-radius: 1rem;
    margin-bottom: 1rem;
}

.card-conteiner .info-container p {
    font-style: italic;
    font-size: .8rem;
    margin-top: .9rem;
    font-weight: 300;
}
