.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.2rem;
    box-shadow: 1px 2px 8px #cecece;
    width: 100%;
    background-color: #F4EFFA;
    position: fixed;
    z-index: 1000;
}

.header-container .icon-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container .icon-header h1 {
    font-size: 1.5rem;
    color: #bf0603;
    font-weight: 900;
}

.header-container .icon-header svg {
    color: #bf0603;
    height: 1.3rem;
    width: 1.3rem;
}

.header-container .header-options a {
    align-items: center;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 700;
    font-size: .9rem;
    color: #bf0603;
}